.card__button button {
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #28a745;
    color: #28a745;
    width: 100%;
    padding: 0.475rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.card__button button:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.card__button {
    padding: 20px;
}
.card__button button:focus {
    outline: none;
}
