.tab {
    padding: 10px 30px;
    background: lightgray;
    flex: 1;
    border: none;
    margin: 10px 2px 2px 2px;
    flex-wrap: wrap;
    cursor: pointer;
}

.activeTab {
    background: yellow;
    border: none;
}
.tab:focus {
    border: none;
    outline: none;
}
.tabs__row {
    display: flex;
    flex-wrap: wrap;
}
